@font-face {
  font-family: Gordita-Bold;
  src: url(Gordita-Font/Gordita-Bold.otf);
}
@font-face {
  font-family: Gordita-Black;
  src: url(Gordita-Font/Gordita-Black.otf);
}
@font-face {
  font-family: Gordita-Light;
  src: url(Gordita-Font/Gordita-Light.otf);
}
@font-face {
  font-family: Gordita-Medium;
  src: url(Gordita-Font/Gordita-Medium.otf);
}
@font-face {
  font-family: Gordita-Regular;
  src: url(Gordita-Font/Gordita-Regular.otf);
}

.homepage .biz-kimiz .body {
  background-color: whitesmoke;
  font-family:Gordita-Regular;
}
.homepage .biz-kimiz .Head-Text{
  font-size: 38px;
  font-family: Gordita-Bold;
}
.homepage .biz-kimiz .box{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.homepage .biz-kimiz .First-Headers {
  margin-top: -15px;
  font-family: Gordita-Bold;
  font-size: 24px;
}
.homepage .biz-kimiz .Second-Headers {
  font-size: 14px;
  margin-top: -14px;
  font-family: Gordita-Regular;
}
.homepage .neden-elips{
  background-image:url("images/background.png");
  background-size: cover;
  background-size: 100%;
}
.homepage .neden-elips .row{
  display: flex;
  flex-wrap: wrap;
}
.homepage .neden-elips .elips{
  color: #FC7B0A;
}
.homepage .neden-elips ul{
  list-style-type: circle;
  font-size: 12px;
}
.homepage .neden-elips ul li{
  font-family: Gordita-Regular;
  padding-bottom: 15px;
}
.homepage .neden-elips ul li::marker{
  color: #FC7B0A;
}
.homepage .neden-elips .list-section h1{
  font-family: Gordita-Bold;
  padding-bottom: 30px;
  font-size: 38px;
}
.homepage .neden-elips .list-section h4{
  font-family: Gordita-Regular;
  padding-bottom: 5px;
  font-size: 15x;
}
.homepage .neden-elips .box-orange{
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #FC7B0A;
  margin-top: 250px;
  z-index: 100;
}
.homepage .neden-elips .big-img{
  margin-left: 100px;
  margin-top: 60px;
}
.homepage .neden-elips .box-blue{
  position: absolute;
  width: 95px;
  height: 95px;
  background: #0068FA;
  margin-left: 250px;
  margin-top: -46px;
  z-index: 100;
}
.homepage .neden-elips .link{
  color: #ffffff;
  max-height: 60px;
  max-width: 230px;
  padding-top: 20px;
  padding-right:20px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;   
  cursor: pointer; 
  font-family: Gordita-Bold;
  font-size: 12px;
  margin-bottom: 40px;
  background: #ff7b07;
}
.homepage .neden-elips .arrow-white{
  margin-left: 90px;
}
.homepage .çözümler-hizmetler .nav-link.active{
  font-family: Gordita-Bold;
  border-bottom: 6px #FC7B0A solid;
  background-color: white !important;
  border-radius: 0;
  color: darkblue !important;
  font-weight: 700;
}

.homepage .çözümler-hizmetler .nav-link{
  font-family: Gordita-Bold;
  cursor: pointer;
  text-decoration: none;
  color: rgba(8, 21, 57, 0.3);
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px 30px;
  font-size: 16px;
}
.homepage .çözümler-hizmetler .nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.homepage .çözümler-hizmetler .active .tab-nav a {
  color: #081539;
  border-bottom: 6px solid #fc7b0a;
}
.homepage .çözümler-hizmetler .nav-link:hover {
  display: block;
  text-decoration: none;
}
.homepage .çözümler-hizmetler a.incele:hover {
  cursor: pointer;
}
.homepage .çözümler-hizmetler .incele {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.homepage .çözümler-hizmetler .incele img{
  margin-left: 5px;
  margin-bottom: 10px;
}
.homepage .çözümler-hizmetler s.top{
  display: flex;
  align-items: center;
}

.homepage .çözümler-hizmetler p.discription{
  margin-top: 0px;
}
.homepage .çözümler-hizmetler .grid{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.homepage .çözümler-hizmetler .grid-row{
  display: flex;
  gap: 10px;
}
.homepage .çözümler-hizmetler h2{
  font-family: Gordita-Bold;
  font-size: 38px;
}
.homepage .çözümler-hizmetler h5{
  font-family: Gordita-Bold;
  font-size: 14px;
}
.homepage .çözümler-hizmetler .list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: circle;
  font-family: Gordita-Regular;
  font-size: 12px;
}
.homepage .çözümler-hizmetler ul li::marker{
  color: #FC7B0A;
}
.homepage .çözümler-hizmetler .list .col {
  display: flex;
  flex-direction: column;
}
.homepage .çözümler-hizmetler .service-list{
  list-style-type: circle;
  display: flex;
  gap: 10px;
  font-family: Gordita-Regular;
  font-size: 12px;
}
.homepage .çözümler-hizmetler .grid{
  background-color: white;
  padding: 50px;
}
.homepage .çözümler-hizmetler .service-list li{
  margin-bottom: 20px;
}
.homepage .çözümler-hizmetler .listed-items{
  font-size: 12px;
  gap: 10px;
}
.homepage .çözümler-hizmetler .button{
  color: #ffffff;
  max-height: 60px;
  max-width: 230px;
  padding-top: 20px;
  padding-right:20px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;   
  cursor: pointer; 
  font-family: Gordita-Bold;
  font-size: 12px;
  margin-bottom: 40px;
  background: #ff7b07;
  margin-left: 20px;
}
.homepage .çözümler-hizmetler .arrow-white{
  margin-left: 50px;
}
.homepage .çözümler-hizmetler .çözüm-section{
  background-image: url("images/Blue-solutions-bg.svg");
  background-size: cover;
}
.homepage .çözümler-hizmetler .hizmet-section{
  margin: auto;
  background-image: url("images/Orange-solutions-bg.svg");
  background-size: cover;
}
.homepage .çözümler-hizmetler .right-img{
  position: absolute;
  margin-left: 40px;
  margin-top: 135px;}

.homepage .çözümler-hizmetler .colored-lines {
  display: flex;
  justify-content: flex-start;
}
.homepage .çözümler-hizmetler .blue-lines {
  display: flex;
  flex-direction: column;
}   
.homepage .çözümler-hizmetler .line-one{
  color: #0167F6;    
  height: 1px;
  width: 760px;
}
.homepage .çözümler-hizmetler .line-two{
  color: #0167F6;    
  height: 1px;
  width: 618px;
  margin-left: auto;
}
.homepage .çözümler-hizmetler .line-three{
  color: #0167F6;    
  height: 1px;
  width: 437px;
}  
.homepage .rakamlarla-elips .orange-lines {
  display: flex;
  flex-direction: column;
}   
.homepage .rakamlarla-elips .line-four{
  color: #FC7B0A;    
  height: 1px;
  width: 746px;
  margin-left: auto;
}
.homepage .rakamlarla-elips .line-five{
  color: #FC7B0A;    
  height: 1px;
  width: 618px;
  margin-left: auto;
}
.homepage .rakamlarla-elips .line-six{
  color: #FC7B0A;    
  height: 1px;
  width: 437px;
}
.homepage .rakamlarla-elips .header{
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  font-family: Gordita-Bold;
}
.homepage .rakamlarla-elips{
  background-color: #f8f8f8;
  background-size: cover;
  padding: 40px 0;
}
.homepage .rakamlarla-elips .box{
  background-color: #fff;
  margin: 20px;
  position: relative;
  z-index: 2;
  padding: 100px 20px;
  text-align: center;
}
.homepage .rakamlarla-elips .box .sub-header{
  font-family: Gordita-Bold;
  font-size: 36px;
  padding-bottom: 20px;
}
.homepage .rakamlarla-elips .box .comment{
  text-align: center;
  font-family: Gordita-Regular;
  font-size: 13px;
}
.homepage .rakamlarla-elips .arrow-white{
  margin-left: 50px;
}
.homepage .rakamlarla-elips .button{
  background: #ff7b07;
  color: #ffffff;
  padding: 20px 30px;
  max-width: 250px;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  font-family: Gordita-Bold;
  justify-content: center;
  margin: 20px auto;
}
.homepage .rakamlarla-elips .button-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .rakamlarla-elips .row{
  display: flex;
  flex-wrap: wrap;
}
.homepage .rakamlarla-elips .orange-box{
  position: absolute;
  right: 5px;
  top: 0;
  background-color: #FC7B0A;
  width: 150px;
  height: 150px;
}
.homepage .rakamlarla-elips .blue-box{
  right: 10px;
  bottom: 0;
  background-color: #0068fa;
  position: absolute;
  width: 100px;
  height: 100px;
}
.homepage .rakamlarla-elips .orange-col{
  display: flex;
  align-items: center;
  justify-content: center !important;
}
footer .form{
  background-color: #FC7B0A;
  background-image: url(images/orange-shapes.svg);
}
footer .form .row{
  display: flex;
  flex-wrap: wrap;
}
footer .form .contact .whatsapp-contact{
  display: flex;
  flex-wrap: wrap;
}
footer .form .contact .whatsapp-contact .whatsapp-text{
  font-family: Gordita-Regular;
  font-size: 14px;
  color: white;
  margin-left: 20px;
  margin-bottom: 0;
  padding-top: 10px;
}
footer .form .text-wrapper .title{
  font-family: Gordita-Bold;
  font-size: 38px;
  color: white;
}
footer .form .text-wrapper .text{
  font-family: Gordita-Regular;
  font-size: 14px;
  color: white;
}
footer .contact-form .forms{
  color:#081539;
  font-family: Gordita-Regular;
  font-size: 14px;
}
footer .form .forms .row{
  display: flex;
  flex-wrap: wrap;
}
footer .form .forms .send-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #FC7B0A;
  border-radius: 0;
  min-width: 130px;
  margin-top: 5px;
  padding: 20px 10px;
  float: right;
  text-decoration: none;
  cursor: pointer;
}
footer .btn-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 50px;
  color: #FC7B0A;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}
footer .form .forms .form-input{
  width: 100%;
  padding: 5px;
}
footer .form .check-box{
  display: flex;
  flex-wrap: wrap;
  font-family: Gordita-Regular;
  font-size: 15px;
}
footer .work-text h3{
  font-size: 18px;
  font-size: Gordita-Bold;
  color: white;
}
footer .work-text p{
  font-size: 11px;
  font-family: Gordita-Regular;
  color: white;
  font-weight: 400;
}
footer .wp-contact{
  display: flex;
  padding: 10 10px 40px;
}
footer .wp-text{
  color: white;
  font-family: Gordita-Regular;
  margin-bottom: 0;
  padding-left: 10px;
  padding-top: 10px;
}
footer .hakkımızda{
  background-color: #081539;
  color: white;
  padding: 50px 20px 20px;
}
footer .hakkımızda h5{
  font-family: Gordita-Bold;
  font-size: 18px;
  padding-bottom: 20px;
}
footer .hakkımızda ul{
  list-style: none;
  padding-left: 0;
  font-size: 14px;
}
footer .hakkımızda .markalar li{
  padding-bottom: 20px;
}
footer .hakkımızda li{
  padding-bottom: 5px;
}
footer .hakkımızda .info{
  font-size: 14px;
  text-align: right;
}
footer .hakkımızda .info .adres{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .hakkımızda .info .adres img{
  padding: 0 0 20px 10px;
  margin-bottom: 16px;
}
footer .hakkımızda .info a{
  text-decoration: none;
  color: #ffffff;
}
footer .hakkımızda .info .logo{
  margin: 20px 0 20px 40px;
}
footer .hakkımızda .mobil .info .adres img{
  padding: 20px;
  margin-bottom: 90px;
}
footer .hakkımızda .mobil .info .adres p{
  padding-bottom: 10px;
  margin-bottom: 10px;
}
footer .last-footer{
  font-family: Grodita-Regular;
  background-color: #081539;
  color: #ffffff;
  background-image: url("images/Footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
}
footer .last-footer h5{
  font-size: 12px;
  margin-bottom: 8px;
  text-align: center;
}
footer .last-footer .title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 12px;
  padding-top: 16px;
}
footer .last-footer .title p{
  margin: 0;
}
footer .last-footer .footnote{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 12px;
}
footer .last-footer .footnote p{
  padding: 10px;
  margin: 0;
}
.footer .last-footer .divider{
  align-items: center;
}
